---
import Layout from '../layouts/Layout.astro';
import Component from '../components/Component';
import '../styles/global.css';
---

<Layout title="Welcome to Astro.">
	<main>
		<Component client:load />
	</main>
</Layout>
