body {
  margin: 0;
  width: 100%;
}

h1 {
  margin: 0;
}

.header-container {
  position: sticky;
  top: 0;
  background-color: black;
  color: white;
  padding: 20px;
}
.header {
  display: flex;
  justify-content: space-between;
}
