/* .products {
  list-style: none;
  padding: 0;
}

.card {
  height: 100%;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 520px;
}

.header_container {
  position: sticky;
  width: 100%;
  top: 0;
  width: 100%;
  padding: 20px;
  padding-right: 50px;
  background-color: black;
  color: white;
  margin-right: 500px;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header_cart {
  margin-top: 20px;
  margin-bottom: 20px;
} */
